.header {
  width: 100vw;
  height: 9vh;
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 59);
  align-items: center;
  justify-content: center;
  color: white;
}

.header-heading {
  font-size: 4vh;
  margin-left: 8vh;
}

.header-about {
  margin-left: auto;
  margin-right: 1vw;
}

.header-contact {
  margin-right: 2vw;
}
